.header-finances {
    width: 95%;
    height: 4rem;

    padding: 0.5rem;
    margin-top: 1rem;

    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 0.8rem;

    width: 20%;
}

.btn-filtros {
    width: 25%;
    height: 2rem;

    font-size: var(1rem);

    background: var(--cinza-2);
    color: var(--cinza-4);

    border: none;
    border-radius: 8px;
}

.btn-filtros:hover {
    background:  var(--rosa-secundary);
    color: white;
}