.header-dash {
    width: 100vw;
    height: 60px;

}

.header-dash nav {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-dash nav ul {
    width: 90%;

    display: flex;
    justify-content: space-between;

}

.title-p {
    color: var(--rosa-secundary);

    font-size: 1.5rem;
    font-weight: 500;
}

.title-span {
    color: var(--cinza-4);

    font-size: 1.5rem;

}

.btn-nav {
    width: 5rem;
    height: 2rem;

    font-size: var(1rem);

    background: var(--cinza-2);
    color: var(--cinza-4);

    border: none;
    border-radius: 8px;
}
.header-dash nav {
    width: 100%;
    height: 100%;
}
.header-dash ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 2px solid var(--cinza-1);

    padding: 0.5rem;
}

.main-container {
    width: 100%;

    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-left {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-rigth {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media (min-width: 720px) {
    .main-container {
        flex-direction: row;
        gap: 0.7rem;
        margin-top: 15px;

    }
    
}

