
.total {
    width: 90%;
    height: 4rem;

    margin: 0 auto;
    padding: 0.5rem;

    border: 2px solid var(--cinza-2);

    display: flex;

    gap: 1rem;

}

.info-div {
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.info-div h2 {
    font-size: 1.2rem;
}

.info-div p {
    font-size: 0.9rem;
}

.value-span {
    width: 25%;
    font-size: 1.3rem;

    color: var(--rosa-secundary);
}